<div ng-cloak>

  <md-content>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp100 50 20 10 5 2 1
    <br/>
    <label for="coins">Coins&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" ng-model="part2.number" readonly id="coins"/></div>
    <label for="change">Change</label>
    <input type="text" ng-model="part2.change"  id="change"/></div>

<br/>
<br/>
<button ng-click="part2.calculate()">Calculate</button><button ng-click="part2.clear()">Clear</button>


</md-content>
</div>
