
  <md-card class="jn-list">
    <md-card-content>
      <h3 class="md-title">{{part3.listOptions.title}}</h3>
      <md-input-container class="md-block">
        <label><b>Video Server</b></label>
        <input required type="text" name="videoServer" ng-model="part5.videoServer"
               minlength="10" maxlength="60"  />
        <div ng-messages="projectForm.userNmae.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your Video Server name  must be between 1o and 60 characters.
          </div>
        </div>
      </md-input-container>
      <button ng-click="part5.setVideoServer()" class="md-primary md-raised">Set Server Name</button>
    </md-card-content>
  </md-card>



