.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
md-content {
  margin-right: 25px; }
md-input-container label{
  color: rgba(0, 0, 0, 0.54);

}
